<p-table [value]="products()" [tableStyle]="{'min-width': '50rem'}" selectionMode="multiple" [(selection)]="selectedProducts">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Name</th>
        <th>Image</th>
        <th>Price</th>
        <th>Category</th>
        <th>Status</th>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{ product.name }}</td>
        <td>
          <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" width="100" class="shadow-4" />
        </td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>{{ product.category }}</td>
        <td><p-tag [value]="product.inventoryStatus | inventoryStatus" [severity]="getSeverity(product.inventoryStatus)"></p-tag></td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="text-center">
          <p>Panier vide</p>
        </td>
      </tr>
    </ng-template>
  
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Au total il y a {{ products() ? products().length : 0 }} produit(s).
      </div>
      <div class="flex justify-content-between mt-3">
        <p-button type="button" (click)="onClose()" label="Fermer" severity="help"></p-button>
        <p-button type="button" label="Supprimer" icon="pi pi-trash" severity="danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || selectedProducts.length === 0"></p-button>
      </div>
    </ng-template>
  </p-table>
  